body {
    font-family: Arial;
    background-color: #f4f4f4;
}

.tarjeta-cancion {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

h2 {
    color: darkred;
}

.integrantes ul {
    padding-left: 20px;
}